.aboutPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aboutTextContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    background: #303030;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    @media (max-width: 500px) {
        width: 92%;
    }
}

.exampleContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
}

.img {
    width: 150px;
    height: 150px;
    padding: 10px;
    @media (max-width: 500px) {
        width: 100px;
        height: 100px;
    }
}

.exampleTextContainer {
    width: 100%;
    text-align: left;
}
