.App {
  text-align: center;
}

body {
  background: #444444;
  color: white;
}

.header {
  background: #121212;
  color: white;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dead {
  background: #cf6679;
}

.alive {
  background: #bb86fc;
}

.gameButton {
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  margin: 10px;
  outline: none;
  font-size: 16px;
}

.gameButton:hover {
  opacity: 0.7;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.inputField {
  border-radius: 4px;
  width: 200px;
  padding: 10px 5px;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
}
