// global styles 

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

body {
    background: #212121;
    color: white;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.8rem;
}

p,
li,
strong {
    font-size: 2rem;
}

