* {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.App {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

body {
    background: #212121;
    color: white;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.8rem;
}

p,
li,
strong {
    font-size: 2rem;
}

/* header component */

.header {
    background: #303030;
    color: white;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.header h1 {
    margin-left: 2%;
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 2.5rem;
    }
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    margin-right: 2%;
}

/* footer component */

.footer {
    position: absolute;
    bottom: 0;
    background: #303030;
    color: white;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 100vw;
    margin-top: 20px;
    -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* button component */

.gameButton {
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    margin: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid white;
}

.gameButton:hover {
    opacity: 0.7;
}

/* about component */
.aboutPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutTextContainer {
    width: 90%;
    text-align: left;
    background: #303030;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.exampleContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

/* controls component */
.controlsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

@media (max-width: 850px) {
    .controlsContainer {
        flex-direction: column;
    }
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.inputField {
    border-radius: 4px;
    width: 200px;
    padding: 10px 5px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    outline: none;
    border: 1px solid gray;
}

@media (max-width: 850px) {
    .inputField {
        width: 400px;
        margin: 10px 0;
    }
}

@media (max-width: 500px) {
    .inputField {
        width: 340px;
    }
}

.speed {
    border-radius: 4px;
    width: 200px;
    padding: 10px 5px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    outline: none;
    border: 1px solid gray;
}

@media (max-width: 850px) {
    .speed {
        width: 400px;
        margin: 10px 0;
    }
}

@media (max-width: 500px) {
    .speed {
        width: 340px;
    }
}

/* cell styles */
.cell {
    width: 18px;
    height: 18px;
    border: 1px solid #424242;
}

@media (max-width: 500px) {
    .cell {
        width: 13px;
        height: 13px;
    }
}
